In [2]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle

In [3]:
#Load the trained model
model=load_model('model.h5')

#Load the scaler,encoders
with open('OneHot_encoder_geo.pkl','rb') as file:
     OneHot_encoder_geo=pickle.load(file)

with open('label_en_gender.pkl','rb') as file:
    label_en_gender=pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

WARNING:tensorflow:From d:\NewDownloads\ANN Classification\venv\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [4]:
#Example input data
input_data={
    
    'CreditScore':789,
    'Geography':'Spain',
    'Gender':'Female',
    'Age':90,
    'Tenure':5,
    'Balance':0.0,
    'NumOfProducts':3,
    'HasCrCard':0,
    'IsActiveMember':0,
    'EstimatedSalary':10987.0
}

In [5]:
#OneHot Encode 
geo_encoded=OneHot_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=OneHot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

d:\NewDownloads\ANN Classification\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                0.0              1.0

In [6]:
#Converting the key value pair into Dataframe
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,789,Spain,Female,90,5,0.0,3,0,0,10987.0

In [7]:
#Doing Label encoding on gender
input_df['Gender']=label_en_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,789,Spain,0,90,5,0.0,3,0,0,10987.0

In [8]:
#Cobining one hot encoding
input_df=pd.concat([input_df.drop('Geography',axis=1),geo_encoded_df],axis=1)
#input_df = input_df.reindex(columns=x.columns, fill_value=0)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,789,0,90,5,0.0,3,0,0,10987.0,0.0,0.0,1.0

In [9]:
#Scale the data
input_scaled=scaler.transform(input_df)
input_scaled

array([[ 1.41450814, -1.12244688,  4.90309153,  0.01852174, -1.2410323 ,
         2.58986461, -1.59565012, -1.03252879, -1.5947008 , -0.99600797,
        -0.57427105,  1.71377008]])

In [10]:
#Predict the data
prediction=model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 329ms/step

array([[0.7208079]], dtype=float32)

In [11]:
prediction_pb=prediction[0][0]

In [12]:
prediction_pb

0.7208079

In [13]:
if prediction_pb>0.5:
    print("The Customer is likely to churn")
else:
    print("He will not churn")

The Customer is likely to churn

In [14]:
!where python

d:\NewDownloads\ANN Classification\venv\python.exe
C:\Python313\python.exe
C:\Users\DELL\AppData\Local\Microsoft\WindowsApps\python.exe

In [15]:
!python --version

Python 3.11.0